@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
.gallery{
  @include container;
  --size: 180px;
  display:grid; grid-template-columns: repeat(auto-fit, minmax(var(--size), 1fr)); gap:.75rem;
  a{ display:block }
  img{ width:100%; height:100%; object-fit:cover; border-radius:.75rem;
      transform:scale(1); transition: transform .3s $easing, filter .3s $easing; }
  a:focus-visible img, a:hover img{ transform:scale(1.03); filter:saturate(120%) }
}
@media (prefers-reduced-motion: reduce){
  *{animation-duration:.01ms !important; animation-iteration-count:1 !important; transition-duration:.01ms !important;}
}

